.type-1787 .list_products .product_info {
  margin: 0 !important;
}
.type-1787 .item {
  margin: 0px;
}
.type-1787 .sidebar_widget {
  border: 2px solid #e2eafd;
  border-radius: 4px;
}
.type-1787 .sidebar_widget .widget_header {
  margin: 0;
  padding: 17px 15px;
  border-bottom: 1px solid #e2eafd;
  line-height: 1em;
  background-color: antiquewhite;
}
.type-1787 h3 {
  font: bold 18px Montserrat;
  color: #4d7df0;
  text-transform: uppercase;
  font-size: 16px;
}
.type-1787 ol,
.type-1787 ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.type-1787 .list_products .product {
  overflow: hidden;
  padding: 15px;
}
.type-1787 .list_products .product_img {
  width: 100px;
  float: left;
}
.type-1787 .list_products .product_info {
  margin: 0 115px 0 115px;
}
.type-1787 .list_products .product_name {
  font-size: 20px;
  margin-left: 5px;
}
.type-1787 a {
  color: #4d7df0;
  text-decoration: none;
}
.type-1787 img {
  max-width: 100%;
  webkit-transform: scale(0.8);
  moz-transform: scale(0.8);
  o-transform: scale(0.8);
  opacity: 0.6;
}
.type-1787 img:hover {
  box-shadow: 0px 0px 30px #fff;
  opacity: 1;
}
.type-1787 .product_name {
  color: #131930;
}
.type-1787 .product_name a {
  color: #131930;
  margin-left: 5px;
  font-family: cursive;
}
.type-1787 .product_name a:hover {
  color: #4d7df0;
}
.type-1787 .list_products .product_price {
  padding: 7px 0 0 0;
}
.type-1787 .list_products .product_price .money {
  display: block;
  font-size: 18px;
}
.type-1787 .list_products .product_price .compare-at-price {
  font-size: 14px;
}
.type-1787 .list_products .product_price .money {
  display: block;
}
.type-1787 .list_products .product ~ .product {
  border-top: 1px solid #e2eafd;
}
.type-1787 .list_products .product {
  overflow: hidden;
  padding: 15px;
}
.type-1787 .list_products .product_img {
  width: 100px;
  float: left;
}
.type-1787 .money {
  color: #4d7df0;
}
.type-1787 .money_sale,
.type-1787 .compare-at-price {
  color: #7f8496;
  text-decoration: line-through;
}
